<html>
    <head>
        <title>
            <!-- here title means what we mentioned in the controllers page -->
            <%= title %>
        </title>

    </head>

    <body>
        <!-- Note:title means our what we mentioned in the controllers page title -->
        <h1>Codeial  hello / <%= title %></h1>
    </body>
</html>